---
  layout: "page-hero-fixed.njk"
  title: "Videos | Seshadri Iyengar"
  heroType: "image"
  heroText: "Performance Videos"
  heroDeskWebp: "url('https://res.cloudinary.com/driyengar/image/upload/v1629270148/banner-videos-desk_pcjetn.webp')"
  heroTabWebp: "url('https://res.cloudinary.com/driyengar/image/upload/v1629270148/banner-videos-ipad_emwccj.webp')"
  heroMobWebp: "url('https://res.cloudinary.com/driyengar/image/upload/v1629270148/banner-videos-mob_ig7ccu.webp')"
  heroDesk: "url('https://res.cloudinary.com/driyengar/image/upload/v1631218541/banner-videos-desk_pfdq7x.png')"
  heroTab: "url('https://res.cloudinary.com/driyengar/image/upload/v1631218539/banner-videos-ipad_vu3kvt.png')"
  heroMob: "url('https://res.cloudinary.com/driyengar/image/upload/v1631218539/banner-videos-mob_ggplhx.png')"
  carousels: false
  modals: false
---

<div class="content slanted-div default-bg right-facing">
	<div class="container two-column-grid" data-column-gridgap="3vw">
    <div class="video-wrapper">
			{% youtube '38xTjRJgBcs' %}
			<div class="caption">SAMSKRUTHI RASABHINAYA FESTIVAL JULY 2022</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'AiB01WjIyAw' %}
			<div class="caption">VARNAM - KARAHARAPRIYA AADI</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'G-5gmnPc0ng' %}
			<div class="caption">Pushpanjali, Raaga - Charukeshi</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'O4Db6smOHnU' %}
			<div class="caption">Chinnanchiru kiliye Kannamma a Bharathiyar Poetry</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'hQbkVkZGnLk' %}
			<div class="caption">'PIBARE RAMA RASAM' - Natya Festival</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'GCkALdIe19I' %}
			<div class="caption">Tillana Sumanesha Ranjani Adi</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'w4ItRQm49dU' %}
			<div class="caption">Solo Abhinaya</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'wqx8dlo526w' %}
			<div class="caption">CHANDRASHEKARAM</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'N1eXHw8ILbY' %}
			<div class="caption">JAGADHOUDHARANA - PURANDARADASA KRITHI, RAAGA KAPI, TAALA ADI</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'LLDrXXrtCYU' %}
			<div class="caption">ACHUTAM KESHAVAM BHAJAN</div>
		</div>
		<div class="video-wrapper">
			{% youtube 'vPZKJPSAKa4' %}
			<div class="caption">GAYEAGANAPATHY - TULASIDAS BHAJAN, RAGAMALIKA, ADI TALA</div>
		</div>
	</div>
</div>

<!-- <div class="content slanted-div default-bg right-facing">
	<div class="container multi-row-section" data-gridgap="3vw">
		<div class="multi-column-section" data-gridgap="3vw">
			<div class="video-wrapper w50">
				{% youtube 'AiB01WjIyAw' %}
				<div class="caption">VARNAM - KARAHARAPRIYA AADI</div>
			</div>
			<div class="video-wrapper w50 gap-3vw">
				{% youtube 'G-5gmnPc0ng' %}
				<div class="caption">Pushpanjali, Raaga - Charukeshi</div>
			</div>
		</div>
		<div class="multi-column-section" data-gridgap="3vw">
			<div class="video-wrapper w50">
				{% youtube 'O4Db6smOHnU' %}
				<div class="caption">Chinnanchiru kiliye Kannamma a Bharathiyar Poetry</div>
			</div>
			<div class="video-wrapper w50">
				{% youtube 'hQbkVkZGnLk' %}
				<div class="caption">'PIBARE RAMA RASAM' - Natya Festival</div>
			</div>
		</div>
		<div class="multi-column-section" data-gridgap="3vw">
			<div class="video-wrapper w50">
				{% youtube 'GCkALdIe19I' %}
				<div class="caption">Tillana Sumanesha Ranjani Adi</div>
			</div>
			<div class="video-wrapper w50">
				{% youtube 'w4ItRQm49dU' %}
				<div class="caption">Solo Abhinaya</div>
			</div>
		</div>
		<div class="multi-column-section" data-gridgap="3vw">
			<div class="video-wrapper w50">
				{% youtube 'wqx8dlo526w' %}
				<div class="caption">CHANDRASHEKARAM</div>
			</div>
			<div class="video-wrapper w50">
				{% youtube 'N1eXHw8ILbY' %}
				<div class="caption">JAGADHOUDHARANA - PURANDARADASA KRITHI, RAAGA KAPI, TAALA ADI</div>
			</div>
		</div>
		<div class="multi-column-section" data-gridgap="3vw">
			<div class="video-wrapper w50">
				{% youtube 'LLDrXXrtCYU' %}
				<div class="caption">ACHUTAM KESHAVAM BHAJAN</div>
			</div>
			<div class="video-wrapper w50">
				{% youtube 'vPZKJPSAKa4' %}
				<div class="caption">GAYEAGANAPATHY - TULASIDAS BHAJAN, RAGAMALIKA, ADI TALA</div>
			</div>
		</div>
	</div>
</div> -->
